<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CourseMapper">

    <resultMap id="courseInfoMap" type="com.xuecheng.framework.domain.course.ext.CourseInfo">
        <id column="id" property="id"></id>
        <result column="base_name" property="name" />
        <result column="base_pic" property="pic" />
    </resultMap>

    <select id="findCourseBaseById" parameterType="java.lang.String"
            resultType="com.xuecheng.framework.domain.course.CourseBase">
        select * from course_base where id = #{id}
    </select>

    <select id="findPageCourseBase"
            resultMap="courseInfoMap">

        select b.id id, b.name base_name, p.pic base_pic
        from course_base b
	    left join course_pic p
        on b.id=p.courseid
    </select>

</mapper>